<!--<section>
  <div class="page-header">
    <h1>Leaves</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="leave in vm.leaves"
       ui-sref="leaves.view({ leaveId: leave._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="leave.created | date:'mediumDate'"></span>
        by
        <span ng-if="leave.user" ng-bind="leave.user.displayName"></span>
        <span ng-if="!leave.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="leave.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.leaves.$resolved && !vm.leaves.length">
    No Leaves yet, why don't you <a ui-sref="leaves.create">create one</a>?
  </div>
</section>-->

<section>
  <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <br>
            <ol class="breadcrumb">
                <li>
                    <strong>ข้อมูลการลางาน<strong> 
                </li>
            </ol>
        </div>
    </div>
    <br>
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-sm-2 col-md-2" style="font-weight: bold;font-size: 1.5em;">
                <div class="form-group">
                    <select class="form-control m-b" id="leaveType" name="leaveType" ng-model="leaveType" ng-change="vm.disableDate(leaveType)">
                    <option value="" disabled selected>เลือกประเภทการลา</option>
                    <option value="All">ทั้งหมด</option>
                    <option value="Sick Leave">Sick Leave</option>
                    <option value="Personal Leave">Personal Leave</option>
                    <option value="Vacation">Vacation</option>
                    <option value="Militiary Service Leave">Militiary Service Leave</option>
                    <option value="Maternity Leave">Maternity Leave</option>
                    <option value="Ordination Leave">Ordination Leave</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <input class="form-control" id="startDate" name="startDate" ng-model="startDate" type="date" ng-disabled="disDate">
                </div>
            </div>
            <div class="col-sm-1 col-md-1" style="font-weight: bold;font-size: 1.5em;text-align: center">
                ถึง
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <input class="form-control" id="endDate" name="endDate" ng-model="endDate" type="date" ng-disabled="disDate">
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <a class="btn btn-primary btn-block" ng-click="vm.searchLeave(startDate,endDate,leaveType)">ค้นหา</a>
                </div>
            </div>
        </div>
    </div>
    
  <div class="ibox float-e-margins">
    
    <div class="ibox-content" style="margin-top: 48px">

      <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <!--<div class="dataTables_length" id="DataTables_Table_2_length"><label>แสดง <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> รายการ</label></div>
        <div
          id="DataTables_Table_2_filter" class="dataTables_filter" style="text-align:right"><label>ค้นหา:<input type="search" class="form-control input-sm"  aria-controls="DataTables_Table_2"></label></div>
      <div
        class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">แสดง 1 ถึง 10 จาก 57 รายการ</div>-->
    <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example ng-isolate-scope dataTable"
      id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" role="grid">
      <thead>
        <tr role="row">
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ลำดับ</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ชื่อ - นามสกุล</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ประเภทการลา</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">รายละเอียดการลา</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">วันที่เริ่มลางาน</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">วันที่สิ้นสุดการลา</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">จำนวนวันที่ลา</th>
          <th class="sorting" rowspan="1" colspan="1" style="text-align: center">สถานะ</th>          
        </tr>
      </thead>
      <tbody>
        <tr class="gradeA odd" role="row" ng-repeat="leave in vm.leaves | filter:{ leaveStatus: '!Draft'}" ui-sref="leaves.edit({ leaveId: leave._id })">
          <td style="text-align: center">{{$index + 1}}</td>
          <td>{{leave.user.employeeprofile.firstname}} {{leave.user.employeeprofile.lastname}}</td>
          <td style="text-align: center">{{leave.leaveType}}</td>
          <td>{{leave.leaveDetail}}</td>
          <td style="text-align: center">{{leave.leaveStartDateTime | date:'d MMM y'}}</td>
          <td style="text-align: center">{{leave.leaveEndDateTime | date:'d MMM y'}}</td>
          <td style="text-align: center"><span ng-if="!leave.leaveHalf">{{leave.leaveDay}} วัน</span><span ng-if="leave.leaveHalf">{{leave.leaveTime}} ชม.</span></td>
          <td class="text-navy" ng-if="leave.approveStatus == 'Approve'" style="text-align: center">{{leave.approveStatus}}</td>
          <td class="text-danger" ng-if="leave.approveStatus == 'Reject'" style="text-align: center">{{leave.approveStatus}}</td>
          <td ng-if="leave.approveStatus == 'Waiting'" style="color:#f7ac59;text-align: center;">{{leave.approveStatus}}</td>

          <!--<td ng-if="vm.checkins.length < 0">ไม่มีข้อมูล</td>          -->
        </tr>
      </tbody>
    </table>
    <!--<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate" style="text-align: right">
      <ul class="pagination">
        <li class="paginate_button previous disabled" id="DataTables_Table_2_previous"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0">ย้อนกลับ</a></li>
        <li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0">1</a></li>
        <li class="paginate_button "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0">2</a></li>
        <li class="paginate_button "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0">3</a></li>
        <li class="paginate_button "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="4" tabindex="0">4</a></li>
        <li class="paginate_button "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="5" tabindex="0">5</a></li>
        <li class="paginate_button next"
          id="DataTables_Table_2_next"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="7" tabindex="0">ถัดไป</a></li>
      </ul>
    </div>-->
  </div>

  </div>
  </div>

</section>