<section>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <br>
            <ol class="breadcrumb">
                <li>
                    <strong>รายชื่อทั้งหมด<strong> 
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row wrapper white-bg" ng-if="vm.employeeprofiles.length">
            <br>
                <div class="row">
                    <div class="col-sm-8 col-md-10">
                        <div class="form-group">
                            <input class="form-control" id="search" name="search" ng-model="vm.search" type="text" placeholder="ค้นหา">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <a class="btn btn-primary btn-block" ui-sref="employeeprofiles.create">
                                    เพิ่มพนักงานใหม่
                                </a>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{vm.employeeprofiles.length}}</strong>)
                    คน
                    </span>
                    <h5>พนักงานทั้งหมด</h5>
        </div>

        <div class="ibox-content">
            <div class="table-responsive">
                <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example ng-isolate-scope dataTable"
                    id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ลำดับ</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">รหัสพนักงาน</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ชื่อ - นามสกุล</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">ตำแหน่ง</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">อีเมล์</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">เบอร์โทร</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">สาขา</th>
                            <th class="sorting" rowspan="1" colspan="1" style="text-align: center">แก้ไขข้อมูล</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeA odd" role="row" ng-repeat="employeeprofile in vm.employeeprofiles | filter : vm.search">
                            <td style="text-align: center">{{$index + 1}}</td>
                            <td style="text-align: center">{{employeeprofile.employeeid}}</td>
                            <td>
                                <h3 ui-sref="employeeprofiles.view({ employeeprofileId: employeeprofile._id })">
                                    <a href="#" class="text-navy">
                                                    {{employeeprofile.firstname}} {{employeeprofile.lastname}}
                                                </a>
                                </h3>
                            </td>
                            <td style="text-align: center">{{employeeprofile.jobTitle}}</td>
                            <td>{{employeeprofile.email}}</td>
                            <td style="text-align: center">{{employeeprofile.mobile}}</td>
                            <td style="text-align: center">สาขา</td>
                            <td style="text-align: center"><a class="btn btn-primary" ui-sref="employeeprofiles.edit({ employeeprofileId: employeeprofile._id })">
                <i class="glyphicon glyphicon-edit"></i>
            </a></td>
                            <!--<td ng-if="vm.checkins.length < 0">ไม่มีข้อมูล</td>          -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
    </div>
    </div>

    <div class="alert alert-warning text-center" ng-if="vm.employeeprofiles.$resolved && !vm.employeeprofiles.length">
        คุณยังไม่มีรายชื่อพนักงาน <a ui-sref="employeeprofiles.create">เพิ่มพนักงานใหม่</a>?
    </div>
</section>