<div class="ibox" ng-controller="AuthenticationController">
    <div class="ibox-content">
        <div class="row" ng-hide="hideRegisterForm">
            <div class="middle-box text-center loginscreen animated fadeInRight login-box">
                <div>
                    <h3>สมัครใช้งาน</h3>
                    <form name="userForm" class="signin" novalidate autocomplete="off">
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="text" name="firstname" class="form-control" placeholder="ชื่อ" ng-model="credentials.firstName" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.firstname.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกชื่อ</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="text" name="lastname" class="form-control" placeholder="นามสกุล" ng-model="credentials.lastName" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.lastname.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกนามสกุล</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="email" name="email" class="form-control" placeholder="อีเมล์" ng-model="credentials.email" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.email.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกอีเมล์</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="text" name="tel" class="form-control" placeholder="เบอร์โทรศัพท์" ng-model="credentials.tel" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.tel.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกเบอร์โทรศัพท์</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="text" name="username" class="form-control" placeholder="ชื่อผู้ใช้" ng-model="credentials.username" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.username.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกชื่อผู้ใช้งาน</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors style="display: -webkit-box">
                            <input type="password" name="password" class="form-control" placeholder="รหัสผ่าน" ng-model="credentials.password" required>                            <span style="margin-left:8px;color:red">*</span>
                            <div class="text-left" ng-messages="userForm.password.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">กรุณากรอกรหัสผ่าน</p>
                            </div>
                        </div>
                        <button class="btn btn-primary block full-width m-b" ng-disabled="!userForm.$valid" ng-click="nextStep()"><i class="fa fa-spinner fa-spin" ng-if="startCall"></i> ถัดไป </button>
                        <div ng-show="error" class="text-center text-danger">
                            <strong ng-bind="error"></strong>
                        </div>
                        <br>
                        <!-- <a href="#"><small>Forgot password?</small></a> -->
                        <p class="text-muted text-center"><small>มีรหัสผู้ใช้อยู่แล้ว?</small></p>
                        <a class="btn btn-sm btn-white btn-block" ui-sref="authentication.signin">ลงชื่อเข้าใช้</a>
                    </form>
                    <!--<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 © 2014</small> </p>-->
                </div>
            </div>
        </div>
        <!--///-->
        <section ng-init="init()" ng-hide="hideCompanyForm">
            <div class="wrapper wrapper-content animated fadeInRight ecommerce">
                <form class="form-horizontal" name="companyForm" validate>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">ข้อมูลบริษัท</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="panel-body">
                                            <fieldset class="form-horizontal">
                                                <div class="form-group" show-errors>
                                                    <label class="col-sm-4 col-md-2 control-label">ชื่อบริษัท <span style="margin-left:8px;color:red">*</span></label>
                                                    <div class="col-sm-8 col-md-10" style="display: -webkit-box">
                                                        <input class="form-control" id="name" name="name" ng-model="company.name" type="text" required>
                                                        <div ng-messages="vm.form.companyForm.name.$error" role="alert">
                                                            <p class="help-block error-text" ng-message="required">กรุณากรอก ชื่อบริษัท</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">เลขประจำตัวผู้เสียภาษี</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="taxid" name="taxid" ng-model="company.taxid" type="text">
                                                                <div ng-messages="vm.form.companyForm.taxid.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอกเลขประจำตัวผู้เสียภาษี</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group" show-errors>
                                                    <label class="col-sm-2 col-md-2 control-label">สาขา <span style="margin-left:8px;color:red">*</span></label>
                                                    <div class="col-sm-4 col-md-4">
                                                        <input class="form-control" id="brunch" name="brunch" ng-model="company.brunch" type="text">
                                                    </div>

                                                    <label class="col-sm-2 col-md-2 control-label">ที่อยู่ <span style="margin-left:8px;color:red">*</span></label>
                                                    <div class="col-sm-4 col-md-4" style="display: -webkit-box">
                                                        <input class="form-control" id="address" name="address" ng-model="company.address.address" type="text" required>
                                                        <div ng-messages="vm.form.companyForm.address.$error" role="alert">
                                                            <p class="help-block error-text" ng-message="required">กรุณากรอกที่อยู่</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">รหัสไปร์ณีย์</label>
                                                            <div class="col-sm-8">
                                                                <!-- <input type="text" name="postcode" id="postcode" ng-model="vm.company.address.postcode" class="form-control" placeholder="" required> -->
                                                                <input class="form-control" id="postcode" name="postcode" ng-click="checkAutocomplete(company.address.postcode)" ng-model="company.address.postcode"
                                                                    type="text" autocomplete="true" typeahead="postcode" typeahead-callback="callback">
                                                                <div ng-messages="vm.form.companyForm.postcode.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอกรหัสไปร์ณีย์</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">เขต/อำเภอ</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="district" name="district" ng-model="company.address.district" type="text" disabled>
                                                                <div ng-messages="vm.form.companyForm.district.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอก เขต/อำเภอ</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">แขวง/ตำบล</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="subdistrict" name="subdistrict" ng-model="company.address.subdistrict" type="text" disabled>
                                                                <div ng-messages="vm.form.companyForm.subdistrict.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอก แขวง/ตำบล</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">จังหวัด</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="province" name="province" ng-model="company.address.province" type="text" disabled>
                                                                <div ng-messages="vm.form.companyForm.province.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอกจังหวัด</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" show-errors>
                                                    <label class="col-sm-4 col-md-2 control-label">ประเทศ</label>
                                                    <div class="col-sm-8 col-md-10">
                                                        <select class="form-control m-b" id="country" name="country" ng-model="company.address.country" ng-options="item as item.en.common for item in country track by item.cca2"></select>

                                                        <!--<input type="text" id="country" name="country" class="form-control" autocomplete="false" typeahead-language="country" ng-model="vm.company.address.country.th" typeahead-callback="callbackLanguage" placeholder="" required>-->
                                                        <!--<input type="text" name="country" id="country" ng-model="vm.company.address.country" class="form-control" placeholder="" required>-->
                                                        <div ng-messages="vm.form.companyForm.country.$error" role="alert">
                                                            <p class="help-block error-text" ng-message="required">กรุณาระบุประเทศ</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:-14px">
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label class="col-sm-4 control-label">ละติจูด</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="taxid" name="taxid" ng-model="company.address.location.latitude" type="text">
                                                                <div ng-messages="vm.form.companyForm.taxid.$error" role="alert">
                                                                    <p class="help-block error-text" ng-message="required">กรุณากรอกเลขประจำตัวผู้เสียภาษี</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">ลองจิจูด</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" id="brunch" name="brunch" ng-model="company.address.location.longitude" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="text-align:center">
                                                        <button class="btn btn-info" type="button" ng-click="addBranch(company.brunch,
                                                        company.address.address,
                                                        company.address.subdistrict,
                                                        company.address.district,
                                                        company.address.province,
                                                        company.address.postcode,
                                                        company.address.country.en.common,
                                                        company.address.location.latitude,
                                                        company.address.location.longitude
                                                        )"><i class="fa fa-paste"></i> เพิ่มสาขา</button>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-lg-4" ng-repeat="brch in branchs">
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-info-circle"></i> สาขา {{brch.branch}} <span style="right:0;position: absolute;margin-right: 28px" ng-click="deleteBrunch(brch.branch)">X</span>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <p>{{brch.address}}</p>
                                                                    <p>แขวง/ตำบล {{brch.subdistrict}} เขต/อำเภอ {{brch.district}} จังหวัด {{brch.province}} {{brch.postcode}} ประเทศ {{brch.country}}</p>
                                                                    <p>ละติจูด {{brch.latitude}}</p>
                                                                    <p>ลองจิจูด {{brch.longitude}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                                <hr>
                                                <div class="form-group" show-errors>
                                                    <label class="col-sm-4 col-md-2 control-label">เบอร์โทรศัพท์(บริษัท) <span style="margin-left:8px;color:red">*</span></label>
                                                    <div class="col-sm-8 col-md-10" style="display: -webkit-box">
                                                        <input class="form-control" id="tel" name="tel" ng-model="company.tel" type="text" required>
                                                        <div ng-messages="vm.form.companyForm.tel.$error" role="alert">
                                                            <p class="help-block error-text" ng-message="required">กรุณากรอกเบอร์โทรศัพท์</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2 control-label">โทรสาร</label>
                                                    <div class="col-sm-8 col-md-10">
                                                        <input class="form-control" id="fax" name="fax" ng-model="company.fax" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2 control-label">E-mail</label>
                                                    <div class="col-sm-8 col-md-10">
                                                        <input class="form-control" id="email" name="email" ng-model="company.email" type="email" placeholder="email@email.com">
                                                        <div role="alert">
                                                            <span class="error" ng-show="vm.form.companyForm.email.$error.email" style="color:#a94442;">กรุณากรอกอีเมล์ที่ถูกต้อง</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2 control-label">เว็บไซต์</label>
                                                    <div class="col-sm-8 col-md-10">
                                                        <input class="form-control" id="website" name="website" ng-model="company.website" type="text" placeholder="https://">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2 control-label">หมายเหตุ</label>
                                                    <div class="col-sm-8 col-md-10">
                                                        <textarea class="form-control" id="note" name="note" ng-model="company.note" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <button class="btn btn-primary btn-block ladda-button" id="form-submit" data-style="expand-left" ng-disabled="!companyForm.$valid"
                                                                ng-click="createData(credentials,company)"><i class="fa fa-spinner fa-spin" ng-if="startCall"></i> {{vm.company._id ? 'บันทึกข้อมูล' : 'บันทึกข้อมูล'}}</button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-primary btn-block ladda-button" ng-click="backStep()"> ย้อนกลับ </button>
                                                        </div>
                                                        <div class="text-danger" ng-show="vm.error || vm.errorPrice">
                                                            <strong ng-bind="vm.error"></strong>
                                                            <strong ng-bind="vm.errorPrice"></strong>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!--// google map-->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">เลือกตำแหน่งที่อยู่ของคุณ</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ng-map zoom="17" center="[13.9336632,100.7179985]">
                    <marker position="[13.9336632,100.7179985]" title="hello" animation="Animation.BOUNCE"></marker>
                </ng-map>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>